#ddmm, #input_ddmm, #label_ddmm
{
  color: white;
  background: red;
}

#yyyy, #input_yyyy, #label_yyyy
{
  color: white;
  background: blue;
}

[id='1st4'], #input_1st4, #label_1st4
{
  color: white;
  background: green;
}

[id='2nd4'], #input_2nd4, #label_2nd4
{
  color: white;
  background: purple;
}

.remove
{
  position: absolute;
  top: 0px;
  right: 0px;
}

.rel
{
  position: relative;
}

#previewUploadImages, #previewDownloadImages
{
}

#feedback
{
  position: fixed;
  top: 50%;
  left: 0;
}

